/node_modules
/public/hot
/public/storage
/storage/*.key
/storage/laravels.json
/storage/laravels.pid
/storage/laravels-timer-process.pid
/storage/laravels-custom-processes.pid
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.DS_Store
*/.DS_Store
.tags
.tags_sorted_by_file