/node_modules
/public/hot
/public/storage
/bin
/storage/*.key
/vendor
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
.DS_Store
.tags
.tags_sorted_by_file
*/.DS_Store
